body {
  background-color: rgb(65, 119, 189);
  margin: 0px;
  font-family: sans-serif;
}

.App {
  text-align: center;
  max-width: 100vw;
  margin: 0 auto;
}

.App header {
  background-color: #e6b531;
  box-shadow: 0px 1px 10px rgb(110, 110, 110);
  height: 10vh;
  min-height: 50px;
  color: white;
  position: fixed;
  width: 100%;
  max-width: 100vw;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  padding: 10px;
  box-sizing: border-box;
}

.title{
  color: rgb(255, 255, 255);
  font-family: sans-serif;
}

.App section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(194, 189, 170);
}

main {
  padding: 10px;
  height: 80vh;
  margin: 10vh 0 10vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

main::-webkit-scrollbar {
  width: 0.25rem;
}

main::-webkit-scrollbar-track {
  background: #1e1e24;
}

main::-webkit-scrollbar-thumb {
  background: #917c0a;
}

form {
  height: 10vh;
  position: fixed;
  bottom: 0;
  background-color: rgb(23, 24, 24);
  width: 100%;
  max-width: 100vw;
  display: flex;
  font-size: 1.5rem;
}

.SignInForm{
  width: 100%!important;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form button {
  width: 20%;
  background-color: rgb(223, 223, 0);
}


input {
  line-height: 1.5;
  width: 100%;
  font-size: 1.5rem;
  background: rgb(36, 43, 44);
  color: white;
  outline: none;
  border: none;
  padding: 0 10px;
}

button {
  background-color: #808181; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25rem;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}


.sign-in {
  color: #282c34;
  background: white;
  max-width: 400px;
  margin: 0 auto;
}

.sign-out{
  border-radius: 20px;
}




ul, li {
  text-align: left;
  list-style: none;
}

p {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
}

.message {
  display: flex;
  align-items: center;
}


.sent {
  flex-direction: row-reverse;
}

.sent p {
  color: white;
  background: #43a6ec;
  align-self: flex-end;
}
.received p {
  background: #e5e5ea;
  color: black;
}

.homeImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
  transition: scale 0.3s;
}

.homeImg:hover{
  cursor: pointer;
  scale: 1.1;
}

.profileImg{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 0px;
}

.profileContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
